.footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin: 20px;
    font-family: "Montserrat-Italic";
    font-weight: 1000;
}

@media (orientation: portrait) {
    .footer {
        margin: auto;
        bottom: 20px;
        font-size: 3vw;
    }
}