@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.blueDiv {
  background-color: #3a5eca;
  width: 100%;
  height: 75vh;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  animation: slideIn 1s ease-in-out;
}

.blueDiv-content {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.whiteDev {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  animation: appear 1s ease-in-out;
}

.whiteDiv-span {
  margin: 10px;
  font-size: 30px;
  font-family: "Montserrat-Regular";
}

.whiteDiv-btn { 
  all: unset;
  padding: 8px 15px;
  border-radius: 6px;
  margin: 10px;
  background-color: #3a5eca ;
  color: white;
  font-size: 35px;
  font-size: 90% ;
}

.whiteDiv-btn:hover {
    color: #3a5eca;
    background-color: white ;
    outline: 2px solid #3a5eca;
    transition: 0.8s;
}
.whiteDiv-span-inside {
  color: #3a5eca;
}

.bluediv-img {
    max-height:55vh;
    margin: 20px;
}

.bluediv-wording {
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: white;
    font-size: 55px;
}

.bluediv-wording span {
    margin: 5px;
    font-family: "Montserrat-Regular";
}

#inner-span {
    font-family: "Montserrat-Bold";
    color: rgba(0,255,255,1);
}

#span03 {
  font-size: 20px;
  font-family: "Montserrat-Italic";
  font-weight: 800;
}

.fields {
  font-family: "Montserrat-Italic";
  font-weight: 600;
  display: flex;
  justify-content: center;
}

@media (orientation: portrait) {
  body {
    max-width: 100%;
    max-height: 100vh;
  }

  .blueDiv-content {
    flex-direction: column;
  }
  
  .bluediv-img {
    width: 70vw;
  }

  #span01 {
    font-size: 6.5vw;
  }

  #span02 {
    font-size: 6.5vw;
  }

  #span03 {
    font-size: 4vw;
    font-weight: 300;
  }

  .whiteDiv-span {
    font-size: 5vw;
  }

  .whiteDiv-btn {
    font-size: 3.3vw;
    width: 30vw;
  }

  .whiteDev {
    margin: auto;
    max-width: 90vw;
  }
  
  .fields {
    max-width: 80vw;
    margin: auto;
    font-size: 12px;
  }
}